// src/style.scss

/* 在这里引入项目的全部额外字体 */
@font-face {
    font-family: SourceHanSansSubset;
    src:url('./assets/font/SourceHanSansCN-Medium.otf');
}

@font-face {
    font-family: HelveticaInserat;
    src:url('./assets/font/HelveticaInserat.TTF');
}


.wrap {
    position: relative;
    font-size: 100%;
    width: 100%;
    min-width: 1400px;
    overflow: hidden;
    
    font-family: SourceHanSansSubset,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
    background: fixed no-repeat center top;
    background-size: cover;
    background-image: url('./assets/index/images/bk.jpg');
    height: 100%;
}


@media (max-width: 1600px) {
    .wrap.pc {
        font-size: 14px;
    }
}